<div class="page-header">
  <%= link_to edit_user_path(@current_user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show user</h1>
</div>

<dl class="dl-horizontal">
  <dt>First name:</dt>
  <dd><%= @current_user.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @current_user.last_name %></dd>

  <dt>Email:</dt>
  <dd><%= @current_user.email %></dd>

  <dt>Password digest:</dt>
  <dd><%= @current_user.password_digest %></dd>

  <dt>Remember token:</dt>
  <dd><%= @current_user.remember_token %></dd>

  <dt>Adim?</dt>
  <dd><%= @current_user.admin %></dd>

</dl>
